#mynav-flex-container {
  display: flex;
}
.candidate-selection {
  width: 10rem;
  height: 1.8rem;
  border-radius: 5px;
  color: #848484;
}
.small-font-size {
  color: black;
}
#signup-case {
  line-height: 85px;
}
#make-active {
  color: black;
  background-color: #ddd;
}

#candidateForm {
    margin-left: 40%;
  }

  .small-font-size {
      color: #ddd;
  }